[Unit]
Description=Managed /usr directory
DefaultDependencies=no
Conflicts=umount.target
After=systemd-remount-fs.service
Requires=systemd-remount-fs.service

[Mount]
What=/.system/usr
Where=/.system/usr
Type=none
Options=bind,ro

[Install]
WantedBy=multi-user.target