[Unit]
Description=Managed /var directory
DefaultDependencies=no
Conflicts=umount.target
After=systemd-remount-fs.service
Requires=systemd-remount-fs.service

[Mount]
What=/.system/var
Where=/.system/var
Type=none
Options=bind,ro

[Install]
WantedBy=multi-user.target