[Unit]
Description=VSO Auto Update
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/vso trigger-update

[Install]
WantedBy=multi-user.target
